    <section class="interno">
        <h1>Worket - listado de clientes</h1>

        <div class="nuevoBot">
            <%= link_to 'Nuevo Cliente', new_cliente_path %>
        </div>
        <article class="listClient">
            <ul class="listaInt">
                <% @clientes.each do |cliente| %>
                    <li class="intCont">
                        <ul class="items">
                            <li>Razon social:</li>
                            <li>Nombre:</li>
                            <li>Rut:</li>
                            <li>Direccion:</li>
                            <li>Email:</li>
                            <li>Telefono:</li>
                            <li>Nombre contacto:</li>
                            <li>Region:</li>


                        </ul>
                        <ul class="Cont">
                            <li><%= cliente.razon_social %></li>
                            <li><%= cliente.nombre %></li>
                            <li><%= cliente.rut %></li>
                            <li><%= cliente.direccion %></li>
                            <li><%= cliente.email %></li>
                            <li><%= cliente.telefono %></li>
                            <li><%= cliente.nombre_contacto %></li>
                            <li><%= cliente.region_id %></li>

                        </ul>
                        <ul class="botonera">
                            <li><%= link_to 'Ver', cliente %></li>
                            <li><%= link_to 'Editar', edit_cliente_path(cliente) %></li>
                            <li><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Está seguro?' } %></li>
                        </ul>
                    </li>
                <%end%>
            </ul>
        </article>

    </section>
