    <section class="interno">
        <h1>Worket - listado de clientes</h1>

        <div class="nuevoBot">
            <%= link_to 'Nuevo Cliente', new_cliente_path %>
        </div>
        <article class="listClient">
            <ul class="listaInt">
                <% @clientes.each do |cliente| %>
                    <li class="intCont">
                        <ul class="Cont">
                            <li>
                                <span>Razon social:</span> <strong><%= cliente.razon_social %></strong>
                            </li>
                            <li>
                                <span>Nombre:</span> <strong><%= cliente.nombre %></strong>
                            </li>
                            <li>
                                <span>Rut:</span> <strong><%= cliente.rut %></strong>
                            </li>
                            <li>
                                <span>Direccion:</span> <strong><%= cliente.direccion %></strong>
                            </li>
                            <li>
                                <span>Email:</span> <strong><%= cliente.email %></strong>
                            </li>
                            <li>
                                <span>Telefono:</span> <strong><%= cliente.telefono %></strong>
                            </li>
                            <li>
                                <span>Contacto:</span> <strong><%= cliente.nombre_contacto %></strong>
                            </li>
                            <li>
                                <span>Region:</span> <strong><%= cliente.region_id %></strong>
                            </li>
                        </ul>
                        <ul class="botonera">
                            <li><%= link_to 'Ver', cliente %></li>
                            <li><%= link_to 'Editar', edit_cliente_path(cliente) %></li>
                            <li><%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Está seguro?' } %></li>
                        </ul>
                    </li>
                <%end%>
            </ul>
        </article>
    </section>
