<p id="notice"><%= notice %></p>

<p>
  <strong>Razon social:</strong>
  <%= @cliente.razon_social %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @cliente.rut %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Nombre contacto:</strong>
  <%= @cliente.nombre_contacto %>
</p>

<p>
  <strong>Region:</strong>
  <%= @cliente.region_id %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
