<section class="interno">

  <h1>Listing formulario_workets</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre1</th>
        <th>Nombre2</th>
        <th>Apellido1</th>
        <th>Apellido2</th>
        <th>Rut</th>
        <th>Email</th>
        <th>Telefono</th>
        <th>Actividad</th>
        <th>Adjunto</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @formulario_workets.each do |formulario_worket| %>
        <tr>
          <td><%= formulario_worket.nombre1 %></td>
          <td><%= formulario_worket.nombre2 %></td>
          <td><%= formulario_worket.apellido1 %></td>
          <td><%= formulario_worket.apellido2 %></td>
          <td><%= formulario_worket.rut %></td>
          <td><%= formulario_worket.email %></td>
          <td><%= formulario_worket.telefono %></td>
          <td><%= formulario_worket.actividad %></td>
          <td><%= formulario_worket.adjunto %></td>
          <td><%= link_to 'Show', formulario_worket %></td>
          <td><%= link_to 'Edit', edit_formulario_worket_path(formulario_worket) %></td>
          <td><%= link_to 'Destroy', formulario_worket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Formulario worket', new_formulario_worket_path %>
</section>
