<section class="interno">
  <div class="botoneShow">
    <div class="back">
      <%= link_to 'Back', comentarios_path %>
    </div>
    <div class="edit">
      <%= link_to 'Edit', edit_comentario_path(@comentario) %>
    </div>
  </div>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Texto:</strong>
    <%= @comentario.texto %>
  </p>

  <p>
    <strong>Usuario worket:</strong>
    <%= @comentario.usuario_worket_id %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= @comentario.usuario_id %>
  </p>

</section>
