<!-- <section class="interno">

  <h1>Listing tipo_roles</h1>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tipo_roles.each do |tipo_rol| %>
        <tr>
          <td><%= tipo_rol.nombre %></td>
          <td><%= link_to 'Show', tipo_rol %></td>
          <td><%= link_to 'Edit', edit_tipo_rol_path(tipo_rol) %></td>
          <td><%= link_to 'Destroy', tipo_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Tipo rol', new_tipo_rol_path %>
</section> -->

  <section class="interno">
      <h1>Worket - listado de Roles</h1>

      <div class="nuevoBot">
          <%= link_to 'Nuevo Rol', new_tipo_rol_path %>
      </div>
      <article class="listClient">
          <ul class="listaInt">
              <% @tipo_roles.each do |tipo_rol| %>
                  <li class="intCont">
                      <ul class="Cont">
                          <li>
                              <span>Nombre:</span> <strong><%= tipo_rol.nombre %></strong>
                          </li>
                      </ul>
                      <ul class="botonera">
                          <li><%= link_to 'Ver', tipo_rol %></li>
                          <li><%= link_to 'Editar', edit_tipo_rol_path(tipo_rol) %></li>
                          <li><%= link_to 'Eliminar', tipo_rol, method: :delete, data: { confirm: 'Está seguro?' } %></li>
                      </ul>
                  </li>
              <%end%>
          </ul>
      </article>
  </section>
