<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre1</th>
      <th>Nombre2</th>
      <th>Apellido1</th>
      <th>Apellido2</th>
      <th>Telefono2</th>
      <th>Email</th>
      <th>Password</th>
      <th>Rol</th>
      <th>Cliente</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre1 %></td>
        <td><%= usuario.nombre2 %></td>
        <td><%= usuario.apellido1 %></td>
        <td><%= usuario.apellido2 %></td>
        <td><%= usuario.telefono2 %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.password %></td>
        <td><%= usuario.rol_id %></td>
        <td><%= usuario.cliente_id %></td>
      
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuarios', new_usuario_path %>
