<section class="interno">

  <div class="botoneShow">
    <div class="back">
      <%= link_to 'Back', usuarios_index_path %>
    </div>
    <div class="edit">
      <%= link_to 'Edit', edit_usuario_path(@usuario) %>
    </div>
  </div>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre1:</strong>
    <%= @usuario.nombre1 %>
  </p>

  <p>
    <strong>Nombre2:</strong>
    <%= @usuario.nombre2 %>
  </p>

  <p>
    <strong>Apellido1:</strong>
    <%= @usuario.apellido1 %>
  </p>

  <p>
    <strong>Apellido2:</strong>
    <%= @usuario.apellido2 %>
  </p>

  <p>
    <strong>Telefono2:</strong>
    <%= @usuario.telefono2 %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @usuario.email %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= @usuario.rol_id %>
  </p>

  <p>
    <strong>Cliente:</strong>
    <%= @usuario.cliente_id %>
  </p>

</section>
