<!DOCTYPE html>
<html>
<head>
<title>Worket</title>

<%= stylesheet_link_tag "normalize","estilos", media: "all", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>

<%= csrf_meta_tags %>


</head>
<body>
  <header class="fijoFijo">
    <div class="headFijo">
      <figure class="logo">
        <img src="/assets/logo2.png">
      </figure>
      <nav>
        <ul>
          <% if current_usuario %>
            <li>
              <%= link_to("Salir", destroy_usuario_session_path, :method => :delete) %>
            </li>

          <% else %>
            <li>
              <%= link_to("Entra", usuario_session_path) %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>



  <%= javascript_include_tag "application","script", "data-turbolinks-track" => true %>

</body>
</html>
