<!DOCTYPE html>
<html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<title>Worket - work market</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<%= stylesheet_link_tag "normalize","estilos", media: "all", "data-turbolinks-track" => true %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css' />

<%= csrf_meta_tags %>


</head>
<body>
  <header>
    <div class="headCont">
      <figure class="logo">
        <a href="<%= root_path %>"><img src="/assets/logo2.png"></a>
      </figure>
      <nav>
        <ul>
          <% if current_usuario %>
            <li>
              <%= link_to("Salir", destroy_usuario_session_path, :method => :delete) %>
            </li>

          <% else %>
            <li>
              <%= link_to("Entra", usuario_session_path) %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>


  <footer>

  </footer>
  <%= javascript_include_tag "application","script", "data-turbolinks-track" => true %>
  <script type="text/javascript" >
  $(function(){
      $('.slide').bxSlider({
        auto: true,
      });

      $("#funca").on('click', function(){
        $(".howto").slideToggle();
      });
  });
  </script>
</body>
</html>
